{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p>We are is an organization of 189 countries, working to foster global monetary cooperation, 
  secure financial stability, facilitate international trade, promote high employment and sustainable economic growth, and reduce poverty around the world.
Created in 1945, the IMF is governed by and accountable to the 189 countries that make up its near-global membership..</p>
<p>We are an organization of 189 countries, working to foster global monetary cooperation,
  secure financial stability, facilitate international trade, promote high employment and sustainable economic growth, and reduce poverty around the world.
Created in 1945, the IMF is governed by and accountable to the 189 countries that make up its near-global membership.</p>
<p>We are an organization of 189 countries, working to foster global monetary cooperation,
  secure financial stability, facilitate international trade, promote high employment and sustainable economic growth, and reduce poverty around the world.
Created in 1945, the IMF is governed by and accountable to the 189 countries that make up its near-global membership.</p>
</div>

</div>


{% endblock %}
